extends layout

block content
  .container
  form(name='login', method='post')
    | Username:
    input#username(type='text', name='username')
    br
    | Password:
    input#password(type='password', name='password')
    br
    input(type='submit', name='submit', value='Submit')

